{% extends "base.html" %} {% block content %}
<main>
  <div class="container">
    <!--Navbar-->
    <nav
      class="navbar navbar-expand-lg navbar-dark mdb-color lighten-3 mt-3 mb-5"
    >
      <!-- Navbar brand -->
      <span class="navbar-brand">Categories:</span>

      <!-- Collapse button -->
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#basicExampleNav"
        aria-controls="basicExampleNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Collapsible content -->
      <div class="collapse navbar-collapse" id="basicExampleNav">
        <!-- Links -->
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#"
              >All
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Plumbing</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Technical</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Electrical</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Stationery</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">PPEs & recreational</a>
          </li>
        </ul>
        <!-- Links -->

        <form 
          class="form-inline " 
          action="{% url 'main:search' %}" 
          method="GET">
          <div class="md-form my-0">
            <span style="color:white" class="mt-2"><i class="fas fa-search" aria-hidden="true"></i></span>
            <input name="title-contains" 
                  class="form-control form-control mr-sm-2" 
                  type="text" 
                  placeholder="title of item contains..."
                  aria-label="Search">
          </div>
        </form>
      </div>
      <!-- Collapsible content -->
    </nav>
    <!--/.Navbar-->

    <!--Section: Products v.3-->
    <h3 class="text-success font-weight-bold">Search results for title contains " {{query}} "</h3>
    <br>
    <section class="text-center mb-4">
      <div class="row wow fadeIn">
        {% for item in queryset %}
        <div class="col-lg-3 col-md-6 mb-4">
          <div class="card">
            <div class="view overlay"> 
              {% for img in item.itemimage_set.all %} {% if img.featured %}
              <!-- <div
                class="thumb_image"
                style="background-image:url('{{MEDIA_URL}}{{img.image}}');">
              </div>   -->
              <img src="{{MEDIA_URL}}{{img.image}}" class="card-img-top" />
              {% else %}
              <!-- <div class="thumb_image"></div> -->
              <img src="{{MEDIA_URL}}placeholder.png" class="card-img-top" />
              {% endif %}
              {% endfor %}
              <a href="{{ item.get_absolute_url }}">
                <div class="mask rgba-white-slight"></div>
              </a>
            </div>

            <div class="card-body text-center">
              <a href="" class="grey-text">
                <h5>{{ item.category_set.name }}</h5>
              </a>
              <h5>
                <strong>
                  <a href="{{ item.get_absolute_url }}" class="dark-grey-text"
                    >{{ item.title }}
                    
                    <span
                      class="badge badge-pill primary-color"
                      >{{item.category}}</span
                    >
                   
                  </a>
                </strong>
              </h5>

              <h4 class="font-weight-bold blue-text">
                <strong
                  >pcs
                </strong>
              </h4>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </section>


    <!--Pagination-->
      <!-- <ul class="pagination pg-blue">
        {% if queryset.has_previous %}
          <a href="?page={{ queryset.next_page_number }}"> Previous >> </a>
          {% endif %}
        {% for p in queryset.paginator.page_range %}
          {% if queryset.number == p %}
            <li class="page-item active">
              <a
                class="page-link btn btn-sm btn-info mb-4"
                href="?page={{ p }}"
              >           
                <span>{{ p }}</span>
              </a>
            </li>
          {% else %}
            <li class="page-item">
              <a
                class="page-link btn btn-sm btn-outline-info mb-4"
                href="?page={{ p }}"
              >           
                <span>{{ p }}</span>
              </a>
            </li>
          {% endif %}
          
        {% endfor %}
        {% if queryset.has_next %}
          <a href="?page={{ queryset.next_page_number }}"> Next >> </a>
          {% endif %}
      </ul> -->
 
  </div>
</main>

{% endblock content %}
